<html>
    <head >
        <!-- GOOGLE ANALYTICS EVENTS -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108809105-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-108809105-1');
        </script>

        <!-- GOOGLE ANALYTICS GENERAL -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-108809105-1', 'auto');
        ga('send', 'pageview');
        </script>

        <!-- RED ICONS -->
        <script src="https://use.fontawesome.com/7a4d9a6531.js"></script>

        <!-- ANGULAR -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
        <script type="text/javascript" src="../js/root.js"></script>

        <!-- BOOTSTRAP --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STYLE SHEET -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">

        <!-- NAV BAR -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="container">
            <div id="header"></div>

            <div id="titlebox">
                <div id="title">
                    <br>
                    <img src="img/bear.png" width="10%"><br>
                    <h1>ACCESS CALIFORNIA</h1></a>
                    <div id="tagline">
                        <p>We're here to help you access the services you're entitled to.</p>
                    </div>
                </div>
            </div>

            <div ng-app="form">
            <div ng-controller="formController">

            <div class="row" ng-show="!form.$submitted"> 
                <div class="about">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h2>How does this work?</h2>
                        <p>Access California helps you find out if you're eligible for public programs with one simple form.</p>
                        <br>
                        <ol>
                          <li>
                            Fill out the form below and click submit<br>
                          </li>
                          <br>
                          <li>
                            Find out what programs you might be eligible for<br>
                          </li>
                          <br>
                          <li>
                            Apply for the ones you're interested in<br>
                          </li>
                          <br>
                        </ol>  
                        <input class="button" type="button" value="Learn More" onclick="window.location.href='about.html'"/>
                        <br>
                        <br>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>

            <div id="top"></div>

            <div class="row gray">

                <div class="body-events">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                              <form name="form" ng-show="!form.$submitted">
                                <h2>Let's Get Started!</h2>
                                <div class="question">
                                <p>What programs are you interested?</p>
                                <span class="description">Select one or more programs to get started</span>
                                <div class="checkbox" ng-class="{checkboxSelected: wantsCalFresh}">
                                    <label><input type="checkbox" name="fc" ng-model="wantsCalFresh">
                                        CalFresh</br>
                                        <span class="description">Get money to help put food on the table</span>
                                    </input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: wantsMediCal}">
                                    <label><input type="checkbox" name="fc" ng-model="wantsMediCal">
                                        MediCal</br>
                                        <span class="description">Get insurance to help you stay healthy</span>
                                    </input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: wantsCalWORKS}">
                                    <label><input type="checkbox" name="fc" ng-model="wantsCalWORKS">
                                        CalWORKS</br>
                                        <span class="description">Get cash for housing, food and more</span>
                                    </input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: wantsCalHeadStart}">
                                    <label><input type="checkbox" name="fc" ng-model="wantsCalHeadStart">  
                                        Head Start</br>
                                        <span class="description">Get your child on the right track</span>
                                    </input></label>
                                </div>
                            </div>

                            <div class="question" ng-show= "wantsMediCal" ng-required="wantsMediCal">
                                <p>Please select any that apply change made</p>
                                <div class="checkbox" ng-class="{checkboxSelected: isDisabled}">
                                    <label><input type="checkbox" name="otherMedicalRequirements" ng-model="isDisabled"> I am Disabled or Blind</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: nursingHome">
                                    <label><input type="checkbox" name="otherMedicalRequirements" ng-model="nursingHome"> I am in a skilled nursing or intermediate care home</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: isRefugee}">
                                    <label><input type="checkbox" name="otherMedicalRequirements" ng-model="isRefugee"> I have refugee status for a limited time</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: hasCancer}">
                                    <label><input type="checkbox" name="otherMedicalRequirements" ng-model="hasCancer"> I have been diagnozed for breast and/or cervical cancer</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: isPregnant}">
                                    <label><input type="checkbox" name="pregnant" ng-model="isPregnant"> My family is expecting a child</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: none}">
                                    <label><input type="checkbox" name="none" ng-model="none"> None of the above</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="wantsCalWORKS" >
                                <p>Is your family expecting a child?</p>

                                <div class="checkbox" ng-class="{checkboxSelected: isPregnant}">
                                    <label><input type="radio" ng-model="isPregnant" name="pregnant" ng-value="true" ng-required="wantsCalWORKS">Yes</input></label>
                                </div>

                                <div class="checkbox" ng-class="{checkboxSelected: !isPregnant && !form.pregnant.$pristine}">
                                    <label><input type="radio" ng-model="isPregnant" name="pregnant" ng-value="false" ng-required="wantsCalWORKS">No</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="wantsMediCal && !otherMediCalRequirements()" >
                                <p>What is your age? <br><br>
                                <input type="text" ng-model="age" ng-required="wantsMediCal && !otherMediCalRequirements()" ><br>
                                </p>
                            </div>

                            <div class="question" ng-show="wantsCalHeadStart" >
                                <p>Do you have a child under the age of 5?</p>
                                <div class="checkbox" ng-class="{checkboxSelected: hasChildUnder5}">
                                    <label><input type="radio" name="childUnder5" ng-model="hasChildUnder5" ng-value="true" ng-required="wantsCalHeadStart">Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !hasChildUnder5 && !form.childUnder5.$pristine}">
                                    <label><input type="radio" name="childUnder5" ng-model="hasChildUnder5" ng-value="false" ng-required="wantsCalHeadStart">No</input></label>
                                </div>
                            </div>
                            
                            <div class="question" ng-show="!isPregnant && wantsCalWORKS && !form.pregnant.$pristine" >
                                <p>Do you have a child under the age of 19?</p>
                                <div class="checkbox" ng-class="{checkboxSelected: hasChildUnder19}">
                                    <label><input type="radio" name="childUnder19" ng-model="hasChildUnder19" ng-value="true" ng-required="!isPregnant && wantsCalWORKS && !form.pregnant.$pristine">Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !hasChildUnder19 && !form.childUnder19.$pristine}">
                                    <label><input type="radio" name="childUnder19" ng-model="hasChildUnder19" ng-value="false" ng-required="!isPregnant && wantsCalWORKS && !form.pregnant.$pristine">No</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="!otherMediCalRequirements() && wantsMediCal &&  age < 65 && age > 20" ng-show="!otherMediCalRequirements() && wantsMediCal &&  age < 65 && age > 20">
                                <p>Do you have a child under the age of 21?</p>
                                <div class="checkbox" ng-class="{checkboxSelected: hasChildUnder21}">
                                    <label><input type="radio" name="childUnder21" ng-model="hasChildUnder21" ng-value = "true" 
                                    ng-required="!otherMediCalRequirements() && wantsMediCal &&  age < 65 && age > 20">Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !hasChildUnder21 && !form.childUnder21.$pristine}">
                                    <label><input type="radio" name="childUnder21" ng-model="hasChildUnder21" ng-value = "false"
                                    ng-required="!otherMediCalRequirements() && wantsMediCal &&  age < 65 && age > 20">No</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="hasChildUnder19 && wantsCalWORKS " ng-required="hasChildUnder19 && wantsCalWORKS ">
                                <p>Does your child have a parent who is
                                    Disabled, Deceased or Absent?</p>
                                <div class="checkbox" ng-class="{checkboxSelected: hasUnavailableParentCalWORKS}">
                                    <label><input type="radio" name="unvailableParentCalWORKS" ng-model="hasUnavailableParentCalWORKS" ng-value="true" ng-required="hasChildUnder19 && wantsCalWORKS ">Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !hasUnavailableParentCalWORKS && !form.unvailableParentCalWORKS.$pristine}">
                                    <label><input type="radio" name="unvailableParentCalWORKS" ng-model="hasUnavailableParentCalWORKS" ng-value="false" ng-required="hasChildUnder19 && wantsCalWORKS "> No</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="hasChildUnder21 && wantsMediCal">
                                <p>Does your child have a parent who is
                                    Disabled, Deceased or Absent?</p>

                                <div class="checkbox" ng-class="{checkboxSelected: hasUnavailableParentMediCal}">
                                    <label><input type="radio" name="unavailableParentMediCal" ng-model="hasUnavailableParentMediCal" 
                                    ng-value="true" ng-required="hasChildUnder21 && wantsMediCal" >Yes</input></label>
                                </div>

                                <div class="checkbox" ng-class="{checkboxSelected: !hasUnavailableParentMediCal && !form.unavailableParentMediCal.$pristine}">
                                    <label><input type="radio" name="unavailableParentMediCal" ng-model="hasUnavailableParentMediCal" 
                                    ng-value="false" ng-required = "hasChildUnder21 && wantsMediCal" >No</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="hasChildUnder19 && !hasUnavailableParentCalWORKS && !form.unvailableParentCalWORKS.$pristine">
                                <p>Is the primary earner of your family out of work or working less than 100 hours per month?</p>
                                <div class="checkbox" ng-class="{checkboxSelected: hasLowIncomeParentCalWORKS}">
                                    <label><input type="radio" name="lowIncomeParentCalWORKS" ng-model="hasLowIncomeParentCalWORKS" value="true" 
                                        ng-required="hasChildUnder19 && !hasUnavailableParentCalWORKS && !form.unvailableParentCalWORKS.$pristine" >Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !hasLowIncomeParentCalWORKS && !form.lowIncomeParentCalWORKS.$pristine}">
                                    <label><input type="radio" name="lowIncomeParentCalWORKS" ng-model="hasLowIncomeParentCalWORKS" 
                                    ng-value="false"  ng-required = "hasChildUnder19 && !hasUnavailableParentCalWORKS && !form.unvailableParentCalWORKS.$pristine">No</input></label>
                                </div>

                            </div>

                            <div class="question" ng-show="hasChildUnder21 && !hasUnavailableParentMediCal && !form.unvailableParentMediCal.$pristine">
                                <p>Is the primary earner of your family out of work or working less than 100 hours per month?</p>
                                <div class="checkbox" ng-class="{checkboxSelected: hasLowIncomeParentMediCal}">
                                    <label><input type="radio" name="lowIncomeParentMediCal" ng-model="hasLowIncomeParentMediCal"
                                    ng-value="true" ng-required = "hasChildUnder21 && !hasUnavailableParentMediCal && !form.unvailableParentMediCal.$pristine">Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !hasLowIncomeParentMediCal && !form.lowIncomeParentMediCal.$pristine}">
                                    <label><input type="radio" name="lowIncomeParentMediCal" ng-model="hasLowIncomeParentMediCal"
                                    ng-value="false" ng-required="hasChildUnder21 && !hasUnavailableParentMediCal && !form.unvailableParentMediCal.$pristine" >No</input></label>
                                </div>

                            </div>

                            <div class="question" ng-show="wantsCalFresh || (wantsCalWORKS && meetsChildReqsCalWORKS())" >
                                <p>Are you a U.S citizen or a legal nonCitizen?</p>
                                <div class="checkbox" ng-class="{checkboxSelected: isCitizen}">
                                    <label><input type="radio" name="citizen" ng-model="isCitizen" ng-value= "true" ng-required = "wantsCalFresh || (wantsCalWORKS && meetsChildReqsCalWORKS())" >Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !isCitizen && !form.citizen.$pristine}">
                                    <label><input type="radio" name="citizen" ng-model="isCitizen" ng-value = "false" ng-required = "wantsCalFresh || (wantsCalWORKS && meetsChildReqsCalWORKS())" >No</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="(wantsCalHeadStart && hasChildUnder5) || wantsCalFresh || (wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS()) || (wantsMediCal && !meetsChildReqsMediCal() && !otherMediCalRequirements() && !form.childUnder21.$pristine)" >
                                <p>How many people live in your household, including yourself?</p>
                                <select ng-model="numberInHousehold" ng-required="(wantsCalHeadStart && hasChildUnder5) ||  wantsCalFresh || (wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS()) || (wantsMediCal && !meetsChildReqsMediCal() && !otherMediCalRequirements() && !form.childUnder21.$pristine)" >
                                    <option value="1">Just me!</option>
                                    <option value="2">2 people</option>
                                    <option value="3">3 people</option>
                                    <option value="4">4 people</option>
                                    <option value="5">5 people</option>
                                    <option value="6">6 people</option>
                                    <option value="7">7 people</option>
                                    <option value="8">8 people</option>
                                    <option value="9">9 people</option>
                                    <option value="10">10 people</option>
                                </select>
                            </div>
<!--                             && !form.childUnder21.$pristine
 -->

                            <div class="question" ng-show=" (wantsCalHeadStart && hasChildUnder5) || wantsCalFresh || (wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS()) || (wantsMediCal && !meetsChildReqsMediCal() && !otherMediCalRequirements() && !form.childUnder21.$pristine) ">
                                <p>About how much money did your household make last month? <br><br>
                                $ <input type="text" ng-model="income" ng-name = "income" ng-required= "(wantsCalHeadStart && hasChildUnder5) || wantsCalFresh || (wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS()) || (wantsMediCal && !meetsChildReqsMediCal() && !otherMediCalRequirements() && !form.childUnder21.$pristine) "><br>
                                </p>
                            </div>

                            <div class="question" ng-show="wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS()">
                                <p>What is the total net worth of your assets? <br><br>
                                $ <input type="text" ng-model="assets" ng-required="wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS()" ><br>
                                </p>
                            </div>

                            <div class="question" ng-show="wantsCalFresh || (wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS() && assets <= 3250 && assets > 2250)">
                                <p>Select all that apply to you or the people who live with you:</p>
                                <div class="checkbox" ng-class="{checkboxSelected: hasDisabled}">
                                    <label><input type="checkbox" name="fc" ng-model="hasDisabled" ng-required="(!has60 && !dum) && (wantsCalFresh || (wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS() && assets <= 3250 && assets > 2250 ))">Someone is disabled</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: has60}">
                                    <label><input type="checkbox" name="fc" ng-model="has60" ng-required="(!hasDisabled && !dum) && (wantsCalFresh || (wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS() && assets <= 3250 && assets > 2250))">Someone is age 60 or older</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: dum}">
                                    <label><input type="checkbox" name="fc" ng-model="dum" ng-required="(!has60 && !hasDisabled) && (wantsCalFresh || (wantsCalWORKS && isCitizen && meetsChildReqsCalWORKS() && assets <= 3250 && assets > 2250))">None of the above</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="wantsCalFresh">
                                <p>Is anyone in your househould a student?</p>
                                <div class="checkbox" ng-class="{checkboxSelected: isStudent}">
                                    <label><input type="radio" name="student" ng-model="isStudent" ng-value= "true" ng-required = "wantsCalFresh">Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !isStudent && !form.student.$pristine}">
                                    <label><input type="radio" name="student" ng-model="isStudent" ng-value = "false" ng-required = "wantsCalFresh">No</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="(hasChildUnder5 && !HeadStartIncome(income) && income > 0 ) || wantsCalFresh">
                                <p>Are you or someone in your househould receiving SSI/SSP?</p>
                                <span class="description">Individuals who already receive Supplemental Security Income/State Supplementary Payment (SSI/SSP) are not eligible for CalFresh.</span>
                                <div class="checkbox" ng-class="{checkboxSelected: hasSSI}">
                                    <label><input type="radio" name="SSI" ng-model="hasSSI" ng-value="true" ng-required="(hasChildUnder5 && !HeadStartIncome(income) && income > 0 ) || wantsCalFresh" >Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !hasSSI && !form.SSI.$pristine}">
                                    <label><input type="radio" name="SSI" ng-model="hasSSI" ng-value="false" ng-required="(hasChildUnder5 && !HeadStartIncome(income) && income > 0 ) || wantsCalFresh" >No</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="!hasSSI && hasChildUnder5 && !HeadStartIncome(income) && income > 0 ">
                                <p>Are you or someone in your househould receiving CALWORKS</p>
                                <div class="checkbox" ng-class="{checkboxSelected: hasCalWORKS}">
                                    <label><input type="radio" name="CalWORKS" ng-model="hasCalWORKS" ng-value="true" ng-required="!hasSSI && hasChildUnder5 && !HeadStartIncome(income) && income > 0 " >Yes</input></label>
                                </div>
                                <div class="checkbox" ng-class="{checkboxSelected: !hasCalWORKS && !form.CalWORKS.$pristine}">
                                    <label><input type="radio" name="CalWORKS" ng-model="hasCalWORKS" ng-value="false" ng-required="!hasSSI && hasChildUnder5 && !HeadStartIncome(income) && income > 0 " >No</input></label>
                                </div>
                            </div>

                            <div class="question" ng-show="checkSSINumber() && wantsCalFresh">
                                <p>How many people in your household receive SSI/SSP?</p>
                                <select ng-model="numberOnSSI" ng-required="checkSSINumber() && wantsCalFresh">
                                    <option value="1">1 person</option>
                                    <option value="2">2 people</option>
                                    <option value="3" ng-show="numberInHousehold > 2">3 people</option>
                                    <option value="4" ng-show="numberInHousehold > 3">4 people</option>
                                    <option value="5" ng-show="numberInHousehold > 4">5 people</option>
                                    <option value="6" ng-show="numberInHousehold > 5">6 people</option>
                                    <option value="7" ng-show="numberInHousehold > 6">7 people</option>
                                    <option value="8" ng-show="numberInHousehold > 7">8 people</option>
                                    <option value="9" ng-show="numberInHousehold > 8">9 people</option>
                                    <option value="10" ng-show="numberInHousehold > 9">10 people</option>
                                </select>
                            </div>

                            <div ng-show="!form.$valid">
                                <p>Please answer all of the questions above before clicking submit.</p>
                                <br>
                            </div>

                            <input class="button" onClick="ga('send', 'event', 'Submit Button', 'didClick'); $('html, body').animate({scrollTop: $('#top').offset().top}, 500);" type="submit" value="Submit" ng-click="submit()" ng-disabled="!form.$valid || (!wantsCalFresh && !wantsMediCal && !wantsCalWORKS && !wantsCalHeadStart)"/>

                            <input class="button" value="Test" onClick="ga('send', 'event', 'Submit Button', 'didClick'); $('html, body').animate({scrollTop: $('#top').offset().top}, 500);"/>
                            <br>
                            <br>
                        </form>

                        <div class="results" ng-show="form.$submitted">

                                <h2>Here are your results</h2>
                                <p>A few things to keep in mind:</p>
                                    <p>- We do our best to give you accurate results. However, the state makes the final decision about your eligibility</p>
                                    <p>- Our website only tells you what programs you might be eligible for. You still need to apply for programs that you're interested in</p>
                                <br>

                                <div class="eligiblebox" ng-show="isCalFreshEligible() && wantsCalFresh">
                                    <div class="iconbox">
                                        <i class="fa fa-4x fa-shopping-basket redicon"></i>
                                    </div>
                                    <div class="infobox">
                                        <h3>CalFresh <i class="fa fa-check-circle-o greenicon"></i></h3>
                                        <p>It looks like you may be eligible for CalFresh!</p>
                                        <br>
                                        <input class="button" type="button" value="Learn More & Apply" onclick="window.open('programs/calfresh.html','_blank')"/>
                                    </div>
                                </div>

                                <div class="eligiblebox" ng-show="!isCalFreshEligible() && wantsCalFresh">
                                    <div class="iconbox">
                                        <i class="fa fa-4x fa-shopping-basket redicon"></i>
                                    </div>
                                    <div class="infobox">
                                        <h3>CalFresh <i class="fa fa-question-circle-o redicon"></i></h3>
                                        <p>It doesn't look like you're eligible for CalFresh.</p>
                                    </div>
                                </div>

                                <div class="eligiblebox" ng-show="isMediCalEligible() && wantsMediCal">
                                    <div class="iconbox">
                                        <i class="fa fa-4x fa-heartbeat redicon"></i>
                                    </div>
                                    <div class="infobox">
                                        <h3>MediCal <i class="fa fa-check-circle-o greenicon"></i></h3>
                                        <p>It looks like you may be eligible for MediCal!</p>
                                        <br>
                                        <input class="button" type="button" value="Learn More & Apply" onclick="window.open('programs/medical.html','_blank')"/>
                                    </div>
                                </div>

                                <div class="eligiblebox" ng-show="!isMediCalEligible() && wantsMediCal">
                                    <div class="iconbox">
                                        <i class="fa fa-4x fa-heartbeat redicon"></i>
                                    </div>
                                    <div class="infobox">
                                        <h3>MediCal <i class="fa fa-question-circle-o redicon"></i></h3>
                                        <p>It doesn't look like you're eligible for MediCal.</p>
                                    </div>
                                </div>

                                <div class="eligiblebox" ng-show="isCalWORKSEligible() && wantsCalWORKS">
                                    <div class="iconbox">
                                        <i class="fa fa-4x fa-usd redicon"></i>
                                    </div>
                                    <div class="infobox">
                                        <h3>CalWORKS <i class="fa fa-check-circle-o greenicon"></i></h3>
                                        <p>It looks like you may be eligible for CalWORKS!</p>
                                        <br>
                                        <input class="button" type="button" value="Learn More & Apply" onclick="window.open('programs/calworks.html','_blank')"/>
                                    </div>
                                </div>

                                <div class="eligiblebox" ng-show="!isCalWORKSEligible() && wantsCalWORKS">
                                    <div class="iconbox">
                                        <i class="fa fa-4x fa-usd redicon"></i>
                                    </div>
                                    <div class="infobox">
                                        <h3>CalWORKS <i class="fa fa-question-circle-o redicon"></i></h3>
                                        <p>It doesn't look like you're eligible for CalWORKS.</p>
                                    </div>
                                </div>

                                <div class="eligiblebox" ng-show="isHeadStartEligible() && wantsCalHeadStart">
                                    <div class="iconbox">
                                        <i class="fa fa-4x fa-graduation-cap redicon"></i>
                                    </div>
                                    <div class="infobox">
                                        <h3>Head Start <i class="fa fa-check-circle-o greenicon"></i></h3>
                                        <p>It looks like you may be eligible for Head Start!</p>
                                        <br>
                                        <input class="button" type="button" value="Learn More & Apply" onclick="window.open('programs/headstart.html','_blank')"/>
                                    </div>
                                </div>

                                <div class="eligiblebox" ng-show="!isHeadStartEligible() && wantsCalHeadStart">
                                    <div class="iconbox">
                                        <i class="fa fa-4x fa-graduation-cap redicon"></i>
                                    </div>
                                    <div class="infobox">
                                        <h3>Head Start <i class="fa fa-question-circle-o redicon"></i></h3>
                                        <p>It doesn't look like you're eligible for Head Start.</p>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="col-sm-3"></div>
                </div>
            </div>

            </div>
            </div>

            <!--
            <div class="row">
                <div class="col-sm-3" style="background-color:lavender;">3</div>
                <div class="col-sm-6" style="background-color:lavenderblush;">6</div>
                <div class="col-sm-3" style="background-color:lavender;">3</div>
            </div>
        -->

            <div id="footer"></div>
        </div>  

        <script>
            $("#header").load("../header.html");
            $("#footer").load("../footer.html");
        </script>
    </body>
</html>