<html>
    <head>
        <!-- SMOOTH SCROLL -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/smoothscroll.js"></script>

        <!-- ICONS -->
        <script src="https://use.fontawesome.com/7a4d9a6531.js"></script>

        <!-- ANGULAR -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript" src="js/root.js"></script>

        <!-- BOOTSTRAP --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STYLE SHEET -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>
        <div id="container">
            <div id="header">
                <div id="title">
                    <h1>ACCESS CALIFORNIA</h1></a>
                    <div id="text">
                        <p>We're here to help you access the services you're entitled to.</p>
                    </div>
                </div>
                <a href="#scrolled" class="smoothScroll"><div class="scroll-indicator fa fa-chevron-down"></div></a>
            </div>

            <a name="scrolled"></a>

            
            <div class="row"> 
                <div class="about">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h2>What is Access California?</h2>
                        <p>Access California is a platform that condenses the eligibility requirements for public programs into one simple form. Currently we help determine if you're eligible for:</p>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="about">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2">
                        <div class="programSupported">
                            <i class="fa fa-4x fa-shopping-basket" style="color: #933749;"></i>
                            <br>
                            <p>CalFresh</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="programSupported">
                            <i class="fa fa-4x fa-heartbeat" style="color: #933749;"></i>
                            <br>
                            <p>MediCal</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="programSupported">
                            <i class="fa fa-4x fa-usd" style="color: #933749;"></i>
                            <br>
                            <p>CalWORKS</p>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="body-events">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h2>Let's Get Started!</h2>
                        <div ng-app="root" ng-controller="controller">
                            <p>How many people live in your household, including yourself?</p>
                            <select ng-model="numberInHousehold" required>
                                <option value="1">Just me!</option>
                                <option value="2">2 people</option>
                                <option value="3">3 people</option>
                                <option value="4">4 people</option>
                                <option value="5">5 people</option>
                                <option value="6">6 people</option>
                                <option value="7">7 people</option>
                                <option value="8">8 people</option>
                                <option value="9">9 people</option>
                                <option value="10">10 people</option>
                            </select>

                            <p>About how much money did your household make last month? <br>
                            $<input type="text" ng-model="income" required><br>
                            </p>

                            <p>Are you a student?</p>
                            <select ng-model="isStudent" required>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            
                            <p ng-show="isEligible()">Great! It looks like your household may qualify for CalFresh!</p>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>

            <!--
            <div class="row">
                <div class="col-sm-3" style="background-color:lavender;">3</div>
                <div class="col-sm-6" style="background-color:lavenderblush;">6</div>
                <div class="col-sm-3" style="background-color:lavender;">3</div>
            </div>
        -->

            <div id="footer">
                <p>Designed and developed by Courtney Brousseau and Merric de Launey in Computer Science 194.</p>
            </div>
        </div>   
    </body>
</html>