<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/smoothscroll.js"></script>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript" src="js/root.js"></script>
    </head>

    <body>
        <div id="container">
            <div id="header">
                <div id="title">
                    <h1>ACCESS CALIFORNIA</h1></a>
                    <div id="text">
                        <p>We're here to help you access the services you're entitled to.</p>
                    </div>
                </div>
                <a href="#scrolled" class="smoothScroll"><div class="scroll-indicator fa fa-chevron-down"></div></a>
            </div>

            <a name="scrolled"></a>
            
            <div class="body-events">
                <div ng-app="root" ng-controller="controller">

                    <p>First Name:</p>
                    <input type="text" ng-model="firstName"><br>
                    <br>
                    <p>Last Name:</p>
                    <input type="text" ng-model="lastName"><br>
                    <br>
                    <p>Full Name: {{firstName + " " + lastName}}</p>
                    <p ng-show="isFirstElementVisible">BONUS!</p>
                    <input type="text">{{show}}<br>
                    <br>

                </div>

            </div>


            <div id="footer">
                <p>Designed and developed by Courtney Brousseau and Merric de Launey in Computer Science 194.</p>
            </div>
        </div>   
    </body>
</html>